<% require 'date' %>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="breadcrumb">
      <li class="active">Dashboard</li>
    </ul>
  </div>
</div>
<div class="block">
  <div class="navbar navbar-inner block-header">
    <div class="muted pull-left">Zones</div>
    <div class="muted pull-right">
      Last Updated: <%= @lastupdate %>
    </div>
  </div>
  <div class="block-content collapse in">
    <table id="events" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Network Type</th>
          <th>Local Storage</th>
          <th>Mem</th>
          <th>CPU</th>
          <th>Storage</th>
        </tr>
      </thead>
      <tbody>
        <% @zone.each do |zone| %>
          <tr>
            <td><a href="/zones/<%= zone["zoneid"] %>"><%= zone["name"] %></a></td>
            <td><%= zone["networktype"] %></td>
            <td>
              <% if zone["localstorageenabled"] %>
                Enabled
              <% else %>
                Disabled
              <% end %>
            </td>
            <td>
              <a href="/zones/charts/<%= zone["zoneid"] %>#memory">
                <span class="badge <%= if zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_MEMORY }["percentused"].to_i > @threashold then 'badge-important'; else 'badge-success'; end %>">
                  <%= zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_MEMORY }["percentused"].to_i %>%
                </span>
              </a>
            </td>
            <td>
              <a href="/zones/charts/<%= zone["zoneid"] %>#cpu">
                <span class="badge <%= if zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_CPU }["percentused"].to_i > @threashold then 'badge-important'; else 'badge-success'; end %>">
                  <%= zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_CPU }["percentused"].to_i %>%
                </span>
              </a>
            </td>
            <td>
              <a href="/zones/charts/<%= zone["zoneid"] %>#storage">
                <span class="badge <%= if zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_STORAGE }["percentused"].to_i > @threashold then 'badge-important'; else 'badge-success'; end %>">
                  <%= zone["capacity"].detect {|c| c["type"] == @CAPACITY_TYPE_STORAGE }["percentused"].to_i %>%
                </span>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
