<%= link_to "Operations Dashboard for Apache CloudStack", "/", :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="<%= 'active' if params[:controller] == 'zone' %>">
    <%= link_to('Dashboard', '/zones/index') %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'events' %>">
    <%= link_to('Events', '/events/index') %>
    </li>
  </ul>
</div>
