<div class="navbar">
  <div class="navbar-inner">
    <ul class="breadcrumb">
      <li>
      <a href="/">Dashboard</a> <span class="divider">/</span>
      </li>
      <li class="active">Events</li>
    </ul>
  </div>
</div>
<div class="block">
  <div class="navbar navbar-inner block-header">
    <div class="muted pull-left">Events</div>
    <div class="pull-right"><span class="badge badge-info"><%= @events.count %></span>
    </div>
  </div>
  <div class="block-content collapse in">
    <table id="events" class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Status</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event["event"] %></td>
            <td><%= event["status"] %></td>
            <td><a href="/events/<%= event["_id"] %>"><%= event.to_json() %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

